.I{
    position: absolute;
    top: 1000px;
    left: 100px;  
    opacity: 0;
    transform: translateX(-15%);
    
}

.foto{
    position: absolute;
    top: 1000px;
    left: 100px;  
    opacity: 1;
    transform: translateX(0);
    transition: all 2s;
}






.Aboutme{
    position: absolute; top: 1030px; left: 450px;
    color: white;
    font-size: 14pt;
    display: grid;
    gap: 40px;
    opacity: 0;
    transform: translateX(-10%);
}

.efeito {
opacity: 1;
font-size: 14pt;
gap: 40px;
display: grid;
color: white;
position: absolute; top: 1030px; left: 450px;
transform: translateX(0);
transition: all 1.5s;
}


.tech{
    position: absolute; top: 1000px; left: 70%;
    font-size: 30px;
    color: white;
    opacity: 0;
    transform: translateX(-10%);
}

.tec{
    position: absolute; top: 1000px; left: 70%;
    font-size: 30px;
    color: white;
    opacity: 1;
    transform: translateX(0);
    transition: all 1.5s;
}

.logos1{
    transform: translateX(-20%);
    opacity: 0;
    display: flex;
    gap: 60px ;
    position: absolute; top: 1100px; left: 65%;
}

.lg1{
    transform: translateX(0);
    opacity: 1;
    transition: all 1.5s;
}


.logos2{
    transform: translateX(-20%);
    opacity: 0;
    display: flex;
    gap: 60px ;
    position: absolute; top: 1200px; left: 65%;
}

.lg2{
    transform: translateX(0%);
    opacity: 1;
    transition: all 1.5s;
}



.textabout1{
    opacity: 0;
    transform: translateY(-40%);
    position: absolute; top: 1550px; left: 10%; right: 100px;
    color: white;
    font-size: 15pt; 
    max-width: 400px;
}
.txb{
    opacity: 1;
    transform: translateY(0);
    transition: all .8s;
}



.textabout2{ 
    opacity: 0;
    transform: translateY(-40%);
    position: absolute; top: 1550px; left: 42%; right: 100px;
    color: white;
    font-size: 15pt; 
    max-width: 400px;
}
.txb2{
    opacity: 1;
    transform: translateY(0);
    transition: all 1.3s;
}



.textabout3{ 
    opacity: 0;
    transform: translateY(-40%);
    position: absolute; top: 1550px; left: 75%; right: 100px;
    color: white;
    font-size: 15pt; 
    max-width: 300px;
}
.txb3{
    opacity: 1;
    transform: translateY(0);
    transition: all 1.8s;
}


/* Linha do tempo */ 

.selector{
    position: absolute; top: 1480px; left: 20%;
    background-color: #6f93aa;
    width: 20px;
    height: 20px;
    pointer-events: none;
    border-radius: 100%;
  }
  .selector2{
    position: absolute; top: 1480px; left: 50%;
    background-color: #6f93aa;
    width: 20px;
    height: 20px;
    pointer-events: none;
    border-radius: 100%;
  }
  .selector3{
    position: absolute; top: 1480px; left: 83%;
    background-color: #6f93aa;
    width: 20px;
    height: 20px;
    pointer-events: none;
    border-radius: 100%;
  }
  
   .traco{
    position: absolute; top: 1489px; left: 52%; right: 10%;
    background-color: #6f93aa;
    transform: translate(-50%, -50%);
    width: 64%;
    border-radius: 30px;
    height: 6px;
  }

